<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="Microsoft.EntityFrameworkCore.Design" #>
<#@ assembly name="Pomelo.EntityFrameworkCore.MySql" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Microsoft.EntityFrameworkCore.Scaffolding" #>
<#@ import namespace="Microsoft.EntityFrameworkCore.Design" #>
<#@ import namespace="Microsoft.EntityFrameworkCore.Metadata" #>
<#@ output extension=".cs" #>

<#
    string environment = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT");

    if (environment != "Development") 
    {
        WriteLine("// Skipped scaffolding in non-development environment.");
        return;
    }

    var envPath = @"C:\Users\JoelPriddy\source\joelpriddy\TestFiles\Security\appsettings.json";
    var encryption = new EncryptionService();

    if (!System.IO.File.Exists(envPath))
    {
        WriteLine("// No credentials found in environment variables. Models will not be updated.");
        return;
    }

    string dbHost = service.GetSecret("DB_HOST", environment);
    string dbName = Environment.GetEnvironmentVariable("DB_NAME");
    string dbUser = Environment.GetEnvironmentVariable("DB_USER");
    string dbPassword = Environment.GetEnvironmentVariable("DB_PASSWORD");

    string connectionString = $"Server={dbHost};Database={dbName};User={dbUser};Password={dbPassword};";

    // Scaffold the database schema
    var scaffolder = new ReverseEngineerScaffolder();
    var scaffoldedModel = scaffolder.ScaffoldModel(
        connectionString,
        new MySqlDesignTimeServices(),
        "Pomelo.EntityFrameworkCore.MySql",
        new ModelCodeGenerationOptions
        {
            ContextName = "YourDbContext",
            ContextDir = "./DbContext",
            ModelNamespace = "YourNamespace.Models",
            ContextNamespace = "YourNamespace.DbContext"
        });

    // Generate DbContext
    WriteLine(scaffoldedModel.ContextFile.Code);
    
    // Generate entity models
    foreach (var entityFile in scaffoldedModel.AdditionalFiles)
    {
        WriteLine(entityFile.Code);
    }
#>
